/*
MENU ITEMS
*/
.menu img{
	margin: 0 auto;
	display: block;
	width: 50%;
}
.img-blurred-edge{
	box-shadow: 10px 20px 10px rgba(233, 221, 246, 0.5);
}

.menu .flex-column img{
	width: 40%;
}
.menu .flex-column{
	padding: 30px;
}


/*
MENU BUTTONS
*/
.menubtn{
	color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	text-align: center;
	border:none;
	border-radius: 100px !important;
	padding: 10px 20px;
	margin-top: 15px;

}
.card-body{
	text-align: center;
}

