{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/categories.css') }}">
{% endblock head %}
{% block content %}
<div class="container-fluid">
  <h1 class="text-center">POLECANE DLA CIEBIE</h1>
  <div class="row">
    {% for category in recommended %}
    {% set category_image = 'images/category_pics/' ~ category.image_file %}
      <div class=" col mini-box">
        <a href="{{ url_for('questions', username=current_user.username, category=category.categoryName) }}">
          <div class="col">
              <h3 class="my-caption-text">{{category.categoryName}}&#9997;</h3>
          </div>
          <div class="col category-image">
              <img class=rounded-circle" src="{{url_for('static', filename=category_image) }}" alt="{{category.categoryName}}">
        </div>
        </a>
      </div>
    {% endfor %}
    </div>
  <h1 class="text-center">WSZYSTKIE KATEGORIE</h1>
  <div class="row">
    {% for category in user_categories %}
    {% set category_image = 'images/category_pics/' ~ category.image_file %}
      <div class=" col mini-box">
        <a href="{{ url_for('questions', username=current_user.username, category=category.categoryName) }}">
          <div class="col">
              <h3 class="my-caption-text">{{category.categoryName}}&#9997;</h3>
          </div>
          <div class="col category-image">
              <img src="{{url_for('static', filename=category_image) }}" alt="{{category.categoryName}}">
        </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}