{% extends "layout.html" %}
{% from "includes/formhelpers.html" import render_field %}
{% block content %}
<div class="center">
    <h4>Edycja pytania</h4>
    <hr>
    <div class="col-6">
        <!-- enctype for image uploads -->
        <form method="POST" action="" enctype="multipart/form-data">
            {{render_field(form.question_text, class="form-control")}}
            {{render_field(form.answer_text, class="form-control")}}
            {{render_field(form.submit, class="btn btn-primary", value="Zaktualizuj pytanie")}}
            {{ form.csrf_token }}
        </form>
        <a class="btn btn-primary" onclick="goBack()">Powrót</a>
    </div>
</div>

{% endblock content %}