<!DOCTYPE html>
<html>
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    {% block head %}

    {% endblock head %}
    {% if title %}
    <title>QuizzApp - {{ title }}</title>
    {% else %}
    <title>QuizzApp</title>
    {% endif %}
</head>
<body>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark my-bg fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">QuizApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/">Strona główna</a>
                </div>
                <!-- Navbar Right Side -->
                {% if current_user.is_authenticated %}
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('categories', username=current_user.username) }}">Kategorie</a>
                    <a class="nav-item nav-link"
                       href="{{ url_for('categories_questions', username=current_user.username) }}">Pytania</a>
                    <a class="nav-item nav-link"
                       href="{{ url_for('profile', username=current_user.username) }}">Profil</a>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Wyloguj</a>
                </div>
                {% else %}
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Logowanie</a>
                    <a class="nav-item nav-link" href="{{ url_for('register') }}">Rejestracja</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
<div class="d-flex justify-content-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<!-- Visual Libraries - JQuery, Popper.js, Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% block content %}

{% endblock content %}


</body>
</html>